<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><meta charset="UTF-8"/></head>
<body>
    <div th:fragment="corpo">
        <div class="container" id="cadastro">
            <nav class="navbar navbar-expand-md bg-light">
                <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <i class="oi oi-caret-right"></i>
                            <span>Cadastrar Categoria de Receita</span>
                        </li>
                    </ul>
                </div>
                <a class="btn btn-primary btn-md" href="/categoria_receita/listar" role="button"
                   th:hx-get="@{/categoria_receita/listar}" hx-target="#content" hx-swap="innerHTML">
                    <span class="oi oi-plus" title="Cadastro" aria-hidden="true"></span>
                    <span>Listar Categorias de Receita</span>
                </a>
            </nav>

            <div th:if="${success}" class="alert alert-success alert-dismissible fade show" role="alert">
                <span th:text="${success}"></span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>

            <form th:action="@{/categoria_receita/salvar}" th:object="${categoriaReceita}" method="POST"
                  th:hx-post="@{/categoria_receita/salvar}" hx-target="#content" hx-swap="innerHTML"> <!-- Corrected to th:hx-post -->
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="descricao">Categoria de Receita</label>
                        <input type="text" class="form-control" id="descricao"
                               placeholder="Nome Categoria de Receita" autofocus="autofocus"
                               th:field="*{descricao}" th:classappend="${#fields.hasErrors('descricao')} ? 'is-invalid' : ''"/>
                        <div class="invalid-feedback">
                            <span th:errors="*{descricao}"></span>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="status">Status</label>
                        <select class="form-control" id="status" th:field="*{status}">
                            <option value="A">Ativo</option>
                            <option value="I">Inativo</option>
                        </select>
                    </div>
                </div>
                <br>
                <input type="hidden" id="id" th:field="*{id}" value=""/>
                <button type="submit" class="btn btn-primary btn-sm">Salvar</button>
            </form>
        </div>
    </div>
</body>
</html>
